@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
body {
    font-family: "Poppins", sans-serif !important;
    font-size: 15px !important;
}

.navbar-nav li {
    padding: 0 7px;
    font-size: 17.5px;
    opacity: 0.8;
}

.add-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 10px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation: fadeIn 1s ease-in both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btn-primary {
    background: linear-gradient(230deg, #7445ff, #520df4);
    border: none !important;
    font-size: 14px !important;
}

.try-btn {
    border-radius: 10rem !important;
    padding: 12.5px 32px !important;
}

.intro {
    background-color: #fdfdfd;
    margin-top: 100px;
}

.intro h1 {
    font-size: 3rem;
    font-weight: 900;
}

.forms-step h1,
.features h1,
.testimony h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    margin: 50px 0;
}

.number {
    /* text-align: center; */
    font-weight: 600;
}

.the-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.steps h4 {
    line-height: 1.6;
    font-weight: 600;
}

.steps h6 {
    line-height: 1.6;
    opacity: 0.7;
}

@media only screen and (max-width: 786px) {
    .arrow {
        display: none;
    }
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.25rem;
    width: 4.25rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.08);
}

.features {
    background-color: #fafad2;
}

.features i {
    background-color: #f0f0ca;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 20px;
}

.features h4 {
    line-height: 1.6;
    font-weight: 600;
}

.shadow-light {
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 9%);
}

.content {
    opacity: 0.9;
}

.quote-icon {
    background: linear-gradient(230deg, #7445ff, #520df4);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 100;
}

.testimony .content {
    border-radius: 5px;
}

.testifier img {
    border-radius: 50%;
}

.testifier .stars i {
    font-size: 12px;
    margin: -10 !important;
    padding: -10 !important;
    color: #ffe200;
}

.testifier h6 {
    font-weight: 800;
}

.conclusion {
    padding: 100px 50px;
}

.conclusion .container {
    background: linear-gradient(230deg, #7445ff, #520df4);
    border-radius: 10px;
    padding: 100px 75px;
}

.conclusion h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #ffffff;
}

.conclusion h6 {
    line-height: 1.6;
}

.conclusion-btn {
    line-height: 1.6;
    align-items: center;
    justify-content: center;
    display: flex;
}

.conclusion button {
    border-radius: 10rem !important;
    padding: 10px 32px !important;
    background: linear-gradient(230deg, #7445ff, #520df4);
    color: #ffffff;
    border: none;
}

.footer {
    /*  margin: -70px auto;*/
    width: 60%;
    text-align: center;
    /* margin-bottom: 100px; */
}

.footer ul {
    list-style-type: none;
    /* padding-left: 30%; */
}

.footer li {
    float: left;
}

.footer li a {
    display: block;
    padding-right: 40px;
    color: #000000;
    font-weight: 600;
    opacity: 0.9;
}

.fab {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 20px;
    right: 20px;
    background: linear-gradient(-45deg, #7fb8dd, #7fb8dd);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
    color: #fff !important;
    border-radius: 50px;
    border: none;
    text-align: center;
    box-shadow: 1px 1px 200px #242424;
}

.fab:hover {
    color: #fff;
}

.my-fab {
    margin-top: 22px;
    font-size: 20px;
}

.chat {
    position: fixed;
    width: auto;
    bottom: 30px;
    right: 20px;
    background: linear-gradient(-45deg, #2d2756, #2d2756);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    text-align: center;
    padding: 5px 10px 10px 10px;
}

.chat span {
    background-color: #fff;
    color: #2d2756;
    border-radius: 50px;
    padding: 2px 15px;
    font-size: 9px;
    font-weight: bold;
}

.chat:hover {
    color: #fff;
}

.my-chat {
    margin-top: 22px;
    font-size: 20px;
}


/* BELL SIDENAV */


/* Button used to open the chat form - fixed at the bottom of the page */


/* The popup chat - hidden by default */

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border-radius: 5px;
    z-index: 99999;
}

.chat-popup h4 {
    font-weight: 600;
    opacity: 0.9;
}

.chat-message {
    background-color: #c9d7ff;
    width: 80%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 14px;
}

.chat-popup h6 {
    font-weight: 600;
    opacity: 0.9;
}


/* Add styles to the form container */

.form-container {
    max-width: 350px;
    padding: 10px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 9px #ccc;
    margin-bottom: 30px;
    border-radius: 5px;
}


/* Full-width textarea */

.form-container i {
    font-size: 20px;
}

.form-container i:hover {
    cursor: pointer;
}


/* When the textarea gets focus, do something */

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/send button */

.form-container .btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.input-group {
    border: none;
    box-shadow: 1px 1px 4px #ccc;
    width: 90%;
}

.input-group input {
    border: none;
}

.input-group-text {
    border: none !important;
    background: none !important;
}

.chat-icons .fa-comments {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    font-size: 13px;
}

.chat-icons .fa-address-book {
    background-color: blue;
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    font-size: 13px;
}

.chat-icons .fa-video {
    background-color: #ffe200;
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    font-size: 13px;
}

.theme-gray {
    background-color: #f8f8f8;
}

.section-gap {
    padding: 80px 0;
}

label.form-field {
    float: left;
    font-weight: 700;
}

button.btn-outline-primary {
    border: 2px solid;
}

.full-width {
    width: 100%;
}

.footer {
  margin: -70px auto;
  width: 60%;
  text-align: center;
  /* margin-bottom: 100px; */
}

.footer ul {
  list-style-type: none;
  /* padding-left: 30%; */
}

.footer li {
  float: left;
}

.footer li a {
  display: block;
  padding-right: 40px;
  color: #000000;
  font-weight: 600;
  opacity: 0.9;
}


@media (max-width:767px) {
    .conclusion {
        padding: 0;
    }
    footer {
        padding-top: 80px;
    }
}

@media (max-width:576px) {
    #productstashSelector {
        top: 90px !important;
    }
}